@model Credential

<div class="container border" style="padding:20px">
    <form asp-action="Login" method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="@Model.Username"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="@Model.Username" class="form-control"/>
            </div>
            <span class="text-danger" asp-validation-for="@Model.Username"></span>
        </div>

        <br />

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="@Model.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="@Model.Password" class="form-control"/>
            </div>
            <span class="text-danger" asp-validation-for="@Model.Password"></span>
        </div>

        <div class="row form-check mb-2">
            <div class="col-2">
                <input type="checkbox" asp-for="@Model.RememberMe" class="form-check-input"/>
                <label class="form-check-label" asp-for="@Model.RememberMe"></label>
            </div>
        </div>

        <br />

        <input type="submit" value="Entrar" class="btn btn-primary"/>

    </form>    
</div>